<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="icon" type="text/css" href="__PUBLIC__/Home/icon.ico"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css" />
    <script src="__PUBLIC__/Home/js/jquery-1.10.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/Home/js/list.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/Home/layer-v3.0.3/layer/layer.js"></script>
</head>

<body style="background: #f5f5f5;">
<div class="regcontent">
    <div class="layout">

        <form action="" method="post">

            <div class="reglogo">
                <a href=""><img width="130px;" src="__ROOT__/Uploads/pic/logo.jpg" /></a>
                <span>帐号注册</span>
            </div>
            <div class="reginput">
                <div class="username"><input type="text" name="username" placeholder="请输入用户名"  /></div>
                <div class="password"><input type="password" name="password" placeholder="请输入密码" /></div>
                <div class="code"><input type="" name="code"  value="" class="codeimg" placeholder="请输入验证码" />
                    <img src="{:u('home/SignIn/code')}" onclick="this.src=this.src+'?'+Math.random()"/>
                </div>

            </div>
            <div class="btn"><input type="submit" name="" value="注册" /></div>
        </form>
        <div class="other">
            <div class="regline"></div>
            <div class="regzi">其他方式登录</div>
        </div>
        <div class="regqq">
            <div class="regbian">
                <a href=""></a>
            </div>
        </div>
        <div class="waring">
            <span>已有账号，<a href="">请直接登录</a></span>
            <span>忘记密码<a href="">密码找回</a></span>
        </div>
    </div>
    <script>
        //注册
        $(function () {

            $('form').submit(function () {
                //抓取所有数据
               var signIn =  $(this).serialize();

               $.post("{:u('home/SignIn/signInAjax')}",signIn,function (res) {


                   if(res.status){
                       //登入成功提示
                       layer.alert(res.info, {icon: 6});
                       setTimeout(function(){location.href=res.url}, 2000);
                   }else {

                       //错误提示
                       layer.msg(res.info, function(){
//关闭后的操作
                       });
                   }

               },'json');
                return false;
            })
        })

    </script>
</div>
</body>

</html>