

<layout name="../../../Resource/home/home" />



</div>
<!--头部结束-->
<!--中间开始-->
<div id="content">

    <div class="cont">
        <div class="main">
            <div class="content-left">
                <div class="box">
                    <div class="zhezhao"></div>
                    <div class="sekuai"></div>
                    <div class="smallTu"></div>
                    <a href="javascript:;" class="shang">&lt;</a>
                    <div class="list1">

                        <ul>
                            <foreach name="content['big']" item="vo">
                            <li><img src="__ROOT__/{$vo}" alt=""></li>
                            </foreach>
                        </ul>

                    </div>
                    <a href="javascript:;" class="xia">&gt;</a>

                    <div class="bgTu"></div>
                    <div class="bgTuHide">
                        <ul>
                            <foreach name="content['big']" item="vo">
                                <li><img width="800px" height="800px" src="__ROOT__/{$vo}" alt=""></li>
                            </foreach>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="content-right">

                <div class="tit">{$content['gname']}</div>
                <div class="description">{$content['gtitle']}</div>
                <div class="pirve">￥ {$content['shopprice']}</div>
                <!-- <li class="zhong">国行</li>-->
                <foreach name="check" item="vo" key="k">
                <div class="category">

                    <h4>{$k}</h4>
                    <ul>
                        <foreach name="vo" item="xx" key="kk">
                        <li gtid="{$xx['gtid']}" >{$xx['gtvalue']}</li>
                        </foreach>
                    </ul>
                </div>
                </foreach>




                <style>
                    .cont .content-right .nobdr h6.red{

                        background: #fa5437;

                    }
                    .cont .content-right .nobdr h6.huise{
                        background: #333;
                    }
                </style>
                <script>
                    $(function () {

                        var len=<?php echo count($check) ?>;
                        var gid=<?php  echo $_GET['gid'] ?>;
                         sd='';
                        $('.category ul li').click(function () {
                            sd='';
                            //1.得到zhong的长度
                            //2,当点击class为中的长度=数组的个数时
                            if($('.zhong').length==len){
                                //3.有class 为.zhong的attr值获取到
                                $.each($('.zhong'),function () {
                                    //将得到组合数据
                                    sd +=$(this).attr('gtid')+',';
                                })


                               // 4.发送ajax
                                $.post("{:u('ajaxGetTotal')}",{gid:gid,combine:sd},function (res) {
                                        //ajax数据
                                        $('#hh_inventory').html(res.total);
                                    //颜色判断
                                    if(res.valid){
                                        //如果是true的话会添加red背景色
                                        $('.cont .content-right .nobdr h6').addClass('red').removeClass('huise');
                                    }else {
                                        //如果是flase的话会去除red背景色
                                        $('.cont .content-right .nobdr h6').addClass('huise').removeClass('red');
                                    }
                                },'json');


                            }
                        })
                    })

                </script>
                <div class="num">
                    <h5>数量</h5>
                    <a href="javascript:;" class="num_l">-</a>
                    <input type="text" value="1" />
                    <a href="javascript:;" class="num_r">+</a>
                    <!--点击数量判断-->
                    <script>
                        $(function(){
                            //判断如果 num 里的value 大用 input text里的最大值 将input里的值重新赋值给 input
                            $('.num_r').click(function () {

                                var max =parseInt($('#hh_inventory').html());
                                        //注意字符串转整
                                var number=parseInt($('.num').find('input').val());
                               if(number >= max){

                                   layer.msg('没有存货啦！！', function(){
                                       //关闭后的操作
                                   });
                                    $('.num').find('input').val(max);
                               }
                            })

                        })
                    </script>
                    <!--ajax库存-->
                    <div style="margin-top:5px; ">
                        <span style="color: red;margin-left: 25px;">库存共:</span><span style="margin-left: 10px;"  id="hh_inventory">0</span>
                    </div>
                </div>
                <div class="nobdr">
                    <h6 class="red" ><a href="javascript:;">立即购买</a></h6>
                </div>

                <script>

                    $(function () {
                        //注意这里的h6后面不能加空格
                            var len =<?php echo count($check)?>;

                        //注意这个的颜色属性
                        $('.cont .content-right .nobdr h6.red').click(function () {
                            //这里红色本来就有所有无法判断

                            //所以要判断class里有没有灰色
                            if($(this).is('.huise')){

                                layer.msg('库存为0', function(){
        //关闭后的操作
                                });
                                return false;
                            }
                            //如果class 中的长度和len的不相同
                            //如果没有选择规格
                            if($('.zhong').length !=len){
                                layer.msg('请选择商品规格', function(){
                                    //关闭后的操作

                                });

                                return false;
                            }
                            //如何数量最大值判断？

                            //货品id
                            var gid=<?php  echo $_GET['gid'] ?>;
                            //商品数量
                            var num= parseInt($('.num').find('input').val());
                             //库存总数
                            var inventory =  parseInt($('#hh_inventory').html());

                            if( num > inventory){

                                layer.msg('没有库存啦', function(){
            //关闭后的操作
                                });
                                $('.num').find('input').val(inventory);

                                return false;
                                }

                            var option ={};
                            //遍历选中的值
                            $.each($('.zhong'),function () {
                                //将选中的值存以他的规格值
                                option[$(this).parents('.category').find('h4').html()]=$(this).html();
                            })

                            $.post("{:u('ajaxAddCart')}",{gid:gid,num:num,option:option,inventory:inventory,sd:sd},function (res) {

                                if(res){
                                    location.href="{:u('Home/Cart/index')}";
                                }
                            })

                        })
                    })

                </script>
                <!--<div class="houdun">-->
                    <!--<h3>保障</h3>-->
                    <!--<p><i class="o1"></i>360商城发货&售后</p>-->
                    <!--<p><i class="o2"></i>满99元包邮</p>-->
                    <!--<p><i class="o3"></i>7天无理由退货</p>-->
                    <!--<p><i class="o4"></i>15天免费换货</p>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="desc" id="xijie">
        <div class="desctab" >
            <div class="main">
                <ul>
                    <li><a href="#xijie">产品详情</a><span>|</span></li>
                    <li><a href="#guige">规格参数</a><span>|</span></li>
                    <li><a href="#wenti">常见问题</a></li>
                </ul>
            </div>
        </div>

        <div class="con" style="text-align: center;" >

             {$content['intro']}
            <!--<img src="__PUBLIC__/home/images/t0159dae288111b9b39.jpg" />-->
            <!--<img src="__PUBLIC__/home/images/t0159dae288111b9b39.jpg" />-->
            <!--<img src="__PUBLIC__/home/images/t0159dae288111b9b39.jpg" />-->
            <!--<img src="__PUBLIC__/home/images/t0159dae288111b9b39.jpg" />-->
            <!--<img src="__PUBLIC__/home/images/t0159dae288111b9b39.jpg" />-->
        </div>
        <div class="con main" id="guige" style="text-align: center;">
            <h1>售后服务</h1>
            {$content['service']}

        </div>
        <div class="con main" id="wenti">
            <h2>常见问题</h2>
            <dl>
                <dt><i>1、</i><em></em>订单提交成功后还可以修改收货信息吗？</dt>
                <dd><u></u>订单付款之前，您可以进入“我的订单”，在订单详情页内修改收货信息。付款之后将不可修改收货信息。</dd>
            </dl>
            <dl>
                <dt><i>2、</i><em></em>订单提交成功后还可以修改收货信息吗？</dt>
                <dd><u></u>订单付款之前，您可以进入“我的订单”，在订单详情页内修改收货信息。付款之后将不可修改收货信息。</dd>
            </dl>
            <dl>
                <dt><i>3、</i><em></em>订单提交成功后还可以修改收货信息吗？</dt>
                <dd><u></u>订单付款之前，您可以进入“我的订单”，在订单详情页内修改收货信息。付款之后将不可修改收货信息。</dd>
            </dl>
            <dl>
                <dt><i>4、</i><em></em>订单提交成功后还可以修改收货信息吗？</dt>
                <dd><u></u>订单付款之前，您可以进入“我的订单”，在订单详情页内修改收货信息。付款之后将不可修改收货信息。</dd>
            </dl>
            <dl>
                <dt><i>5、</i><em></em>订单提交成功后还可以修改收货信息吗？</dt>
                <dd><u></u>订单付款之前，您可以进入“我的订单”，在订单详情页内修改收货信息。付款之后将不可修改收货信息。</dd>
            </dl>
            <dl>
                <dt><i>6、</i><em></em>订单提交成功后还可以修改收货信息吗？</dt>
                <dd><u></u>订单付款之前，您可以进入“我的订单”，在订单详情页内修改收货信息。付款之后将不可修改收货信息。</dd>
            </dl>
            <dl>
                <dt><i>7、</i><em></em>订单提交成功后还可以修改收货信息吗？</dt>
                <dd><u></u>订单付款之前，您可以进入“我的订单”，在订单详情页内修改收货信息。付款之后将不可修改收货信息。</dd>
            </dl>

        </div>
    </div>