<layout name="../../../resource/master" />

<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="#">UI kit</a></li>
    <li><a href="#">Form</a></li>
    <li class="active">Elements</li>
</ul>
<div class="m-b-md">
    <h3 class="m-b-none">设计模块</h3>
</div>
<div class="row">
    <div class="col-sm-12">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">设计模块</header>
            <div class="panel-body">
                <form role="form" action="" method="post">
                    <div class="form-group">
                        <label>模块名称</label>
                        <input type="text" class="form-control"name="name">
                    </div>
                    <div class="form-group">
                        <label>模块标识</label>
                        <input type="text" class="form-control" name="title">
                    </div>
                    <div class="form-group">
                    <label>是否处理微信消息</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="message"  value="1">是
                        </label>
                        <label>
                            <input type="radio" name="message" value="0" checked>否
                        </label>
                    </div>
                </div>
                    <div class="form-group">
                        <label>模块动作</label>
                        <textarea name="actions" class="form-control" placeholder="分类添加|add"></textarea>
                    </div>
                    <button type="submit" class="btn btn-sm btn-default">Submit</button>
                </form>
            </div>
        </section>
    </div>
</div>


