<layout name="../../../Resource/master" />



<div class="col-lg-10 col-lg-offset-1 " style="margin-top: 40px;">

    <div class="panel panel-default">
        <div class="panel-heading">添加顶级分类</div>
        <div class="panel-body">

            <form class="form-horizontal" id="form" method="post">

                <div class="form-group">

                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-5"></div>

                </div>

                <div class="form-group">

                    <label class="col-sm-2 control-label">分类名称</label>

                    <div class="col-sm-5">

                        <input type="text" name="cname"  class="form-control" placeholder="请输出分类名称">

                    </div>

                </div>

                <div class="form-group"><label class="col-sm-2 control-label">分类名称(别名)</label>

                    <div class="col-sm-5">

                        <input type="text" name="othername"  class="form-control" placeholder="请输出分类名称(别名)">

                    </div>

                </div>

                <div class="form-group">

                    <label class="col-sm-2 control-label">分类排序</label>

                    <div class="col-sm-5">

                        <input type="number" name="sort"  class="form-control" placeholder="请填写1到65535的排序数字">

                    </div>

                </div>

                <div class="form-group"><label class="col-sm-2 control-label">是否显示</label>

                    <div class="col-sm-10">

                        <label class="radio-inline">
                            <input type="radio" name="show"  value="0" checked> 是
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="show" value="1"> 否
                        </label>

                    </div>

                </div>

                <div class="form-group">

                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-5"></div>

                </div>



                <div class="form-group">

                    <div class="col-sm-4 col-sm-offset-2">

                        <button class="btn btn-primary" id="btn" type="submit">确定添加</button>

                    </div>

                </div>

            </form>

        </div>
    </div>

</div>
